Source: protobuf2.4.1
Section: science
Priority: optional
Build-Depends: 
Build-Depends-Indep: 
Maintainer: Protobuf Developers <>
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/protobuf/

Package: protobuf2.4.1
Architecture: amd64
Depends: 
Description: Protocol Buffers are a way of encoding structured data in an efficient yet extensible format. Google uses Protocol Buffers for almost all of its internal RPC protocols and file formats. 
